@use '../util' as u;

.header {
  width: 100%;
  height: u.rem(60);

  background-color: var(--white);
  box-shadow: 0 u.rem(8) u.rem(24) hsla(0, 0%, 0%, 0.03);

  align-items: center;
  justify-content: space-between;

  padding-inline: u.rem(24);

  @include u.tablets {
    height: u.rem(72);

    padding-inline: u.rem(36);
  }

  @include u.desktops {
    height: u.rem(80);

    padding-inline: u.rem(48);
  }

  .logo {
    width: u.rem(108);

    cursor: pointer;

    @include u.tablets {
      width: u.rem(144);
    }

    @include u.desktops {
      width: u.rem(180);
    }
  }

  .primary-nav {
    list-style: none;
    padding: 0;

    margin: 0;

    &__link {
      display: inline-block;
      padding-block: u.rem(8);

      font-size: u.rem(20);
      font-weight: 500;
      text-decoration: none;

      &:link,
      &:visited {
        display: inline-block;

        color: var(--black);
      }

      @include u.small-tablets {
        font-size: clamp(1.125rem, 0.846rem + 0.83vw, 1.375rem);
        font-weight: 600;
      }
    }

    @include u.phones {
      position: fixed;
      z-index: 999;
      inset: 0 0 0 30%;

      // Using min can be useful for orientations
      padding: min(30vh, u.rem(160)) u.rem(20);

      flex-direction: column;
      align-items: center;
      gap: u.rem(32);

      background: hsla(0, 0%, 0% / 0.5);

      @supports (backdrop-filter: blur(u.rem(16))) {
        background: hsla(0, 0%, 100% / 0.1);
        backdrop-filter: blur(u.rem(64));

        transform: translateX(100%);
        transition: transform 350ms ease-out;

        &[data-visible='true'] {
          transform: translateX(0%);
        }
      }
    }

    @include u.small-tablets {
      gap: u.rem(24);
    }

    @include u.desktops {
      gap: u.rem(36);
    }
  }

  .mobile-nav-toggle {
    @include u.phones {
      display: block;

      position: absolute;
      top: u.rem(14);
      right: u.rem(32);
      z-index: 9999;

      width: u.rem(32);
      height: u.rem(32);
      border: 0;

      background: url('../../dist/img/Menu.svg');
      background-repeat: no-repeat;

      cursor: pointer;

      &[aria-expanded='true'] {
        background-image: url('../../dist/img/Close.svg');
      }
    }

    @include u.tablets {
      display: none;
    }
  }
}
