@use '../util' as u;

* {
  box-sizing: border-box;

  padding: 0;
  margin: 0;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: u.$font;
  color: var(--black);
  line-height: 1;
  font-weight: 1;

  overflow-x: hidden;

  background-color: hsl(0, 0%, 93%);
}

.flex {
  display: flex;
  gap: u.rem(16);
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}
